APP_NAME=AppsDev API Tutorial
PORT=7000
NODE_ENV=development
JWT_SECRET=fallback_secret_change_me #Generate it here: https://jwtsecrets.com/
BACKEND_URL=http://localhost:7880
FRONTEND_URL=http://localhost:5173
DATABASE_URL=postgresql://user:password@localhost:5432/mydatabasename